extends layout

block title
  | Add 2FA Provider

block content
  h1 Add new 2FA provider
  form(action="/create" method="POST")
    label(for="providerName") Provider Name: 
    input#providerName(type="text" name="name" required)
    br
    label(for="providerCode") Provider Code: 
    input#providerCode(type="text" name="code" required)
    br
    br
    button(type="submit") Add Provider