extends layout

block title
  | Delete Provider

block content
    h1= 'Are you sure you want to delete ' + provider.name
    h3= 'This CANNOT be undone. Make sure you have backed up your 2FA key.'
    form(action=`/p/${provider.name.toLowerCase()}/delete`, method="POST")
      button(type="submit", name="action", value="cancel") Cancel
      button(type="submit", name="action", value="delete") Yes, delete
      
