extends layout

block title
  | TOTP timeout

block content
  h1= 'Two-factor timeout'
  h3= '2FA providers:'
  ul
    each name in providerNames
      li
        a(href='/p/' + name.toLowerCase())= name
  a(href='/create')= 'Add new provider'
  br
  br
  a(href='/logout')= 'Log out'