extends layout

block title
  | Login Page

block content
  h1 Login
  if message
    p #{message}
  form(method='POST' action='/login')
    table(style="margin-bottom: 2em")
      tr
        td
          label(for='username') Username:
        td
          input(type='text' name='username' required)
      tr
        td
          label(for='password') Password:
        td
          input(type='password' name='password' required)
      tr
        td(colspan=2)
          button(type='submit') Login
