extends layout

block title
  provider.name

block content
  h1= provider.name
  h3= provider.otp
  p= 'Seconds remaining: ' + provider.secsRemaining
  p
    a(href='/')= 'Back'
  p
    a(href='/p/' + provider.name.toLowerCase() + '/delete')= 'Delete'