extends layout

block title
  | Registration page

block content
  h1 Register
  if message
    p #{message}
  form(method='POST' action='/register')
    table
      tr
        td
          label(for='username') Username:
        td
          input(type='text' name='username' required maxlength=30)
      tr
        td
          label(for='password') Password:
        td
          input(type='password' name='password' required maxlength=100)
      tr
        td
          label(for='password') Magic authorization code:
        td
          input(type='text' name='authcode')
    br
    button(type='submit') Login
    br
