html
  body
    h1= 'Are you sure you want to delete ' + provider.name
    h3= 'This CANNOT be undone. Make sure you have backed up your 2FA key.'
    p
      a(href='/p/' + provider.name.toLowerCase())= 'No, I changed my mind'
    p
      a(href='/p/' + provider.name.toLowerCase() + '/confirmdelete')= 'Yes, I want to delete'