<html>
<title>TOTP timeout</title>
<body>
    <h1>TOTP timeout</h1>
    <h3>Providers:</h3>
    ul
        each name in providerNames
            li
                a(href='/p/' + name.toLowerCase())= name
</body>
</html>