html
  head
    title= provider.name
  body
    h1= provider.name
    h3= provider.otp
    p= 'Seconds remaining: ' + provider.secsRemaining
    div
      a(href='/p/' + provider.name.toLowerCase() + '/delete')= 'Delete'